.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

#main-navbar {
  background-color: pink;
}

#navbar-container {
  width: 100%;
  position: relative;
  /*text-align only works if you turn thr content into inline-block*/
  text-align: center;
}
